# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

|Data Science Tools |
|-------------------|
|Jupyter Lab        |
|Jupyter NoteBook   |
|Anaconda Jupyter   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

__Objectives:__
+ Create a Jupyter Notebook with markdown and code cells
+ List examples of languages, libraries and tools used in Data Science
+ Share your Jupyter Notebook publicly on GitHub
+ Evaluate notebooks submitted by your peers using the provided rubric
+ Demonstrate proficiency in Data Science toolkit knowledge

## Author 
Samaneh Mohammadi